@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: top/cover repeat url("./img/開場.gif");
  background-size: 100%;
  width: 100%;
  height: 100%;
}

.container{
  width: 80%;
  margin: 3rem auto 3rem auto;
}
.wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  background-color: transparent;
  gap:1.5rem;
  position: relative;
  
}

.item {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.item .txt {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3rem;
  background-color:white;
  background-color: rgba(20, 20, 20, 0.9);
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  border-radius: 50%;
}

.item:hover .txt {
  opacity: 1;
}

.item:hover {
  opacity: 1;
}

.item h2 {
  font-size: 2rem;
  color: burlywood;
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
}

.item h2:after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  margin: 10 0;
  background-color: cornsilk;
  transition: width 0.3s 0.3s;
}

.item:hover h2:after {
  width: 100%;
}

.item .lyrics {
  font-size: 1rem;
  color: mistyrose;
  text-align: center;
  padding: 0.5rem;
}
.animate {
  animation: round 10s linear infinite;
}
.animate2 {
  opacity: 1;
}
@keyframes round {
  100% {
    transform: rotate(1turn);
  }
}
